<h1> Create an ad </h1>
<p><%= @error %> </p>
<form action="/ads" method="post">
    <label>Title</label>
    <input type="text" name="title"></br>
    <label>Description</label>
    <textarea name="description"></textarea></br>
    <label>Price</label>
    <input type="text" name="price"></br>
    <label>Image URL Link</label>
    <input type="text" name="image"></br>
    <label>Contact email</label>
    <input type="text" name="contact"></br>
    <button type="submit"> Submit Ad </button></form></br>
</form>